<!DOCTYPE html>
<html>

<head>
  <title>LIFE</title>
  <link rel="icon" href="../../icon/2764.png" type="image/png">
  <style>
    input {

      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .container {
      border-radius: 10px;
    }

    h3 {
      font-size: smaller;
      opacity: 0.5;
    }

    .form-group {
      margin: 10px;
    }

    #idStaff {
      outline: none;
      border: none;

    }

    button {
      display: inline-block;
      padding: 5px;
      background-color: #3f87a6;
      border: none;
      color: #fff;
      font-weight: bold;

      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
    }
  </style>

</head>

<body>



  <h2>Form nhập thông tin nhân viên</h2>
  <form id="your-form-id" action="/staff/add?url=/staff/listStaff" method="post">
    <div class="form-group">
      <label for="name">Tên:</label>
      <input type="text" id="name" name="name" required pattern="^\S.{4,48}\S$"
        title="Tên phải có độ dài từ 6 đến 50 ký tự.">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="phone">Số điện thoại:</label>
      <input type="text" id="phone" name="phone" required pattern="0\d{9,10}"
        title="Số điện thoại không hợp lệ. Vui lòng nhập số điện thoại Việt Nam có độ dài 10 hoặc 11 số và bắt đầu bằng số 0.">
    </div>
    <div class="form-group">
      <label for="address">Địa chỉ:</label>
      <input type="text" id="address" name="address" required pattern="^\S.{5,253}\S$"
        title="Địa chỉ phải có độ dài từ 7 đến 255 ký tự.">
    </div>
    <div class="form-group">
      <label for="username">Tên tài khoản:</label>
      <input type="text" id="username" name="username" required pattern="^\S.{4,48}\S$"
        title="Tên tài khoản có độ dài từ 6 đến 50 ký tự.">
    </div>
    <div class="form-group">
      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" name="password" required pattern="^\S.{4,48}\S$"
        title="Mật khẩu có độ dài từ 6 đến 50 ký tự.">
    </div>
    <div class="form-group">
      <label for="rpPassword">Xác nhận:</label>
      <input type="password" id="rpPassword" name="rpPassword" required pattern="^\S.{4,48}\S$"
        title="Mật khẩu có độ dài từ 6 đến 50 ký tự.">
      <p id="error-message" style="color: red;"></p> <!-- Thêm phần tử p để hiển thị thông báo lỗi -->
    </div>
    <p><strong>Tình trạng phân quyền:</strong></p>
    <table>
      <tr>
        <th>Quyền</th>
        <th>Thêm-</th>
        <th>Xoá--</th>
        <th>Sửa--</th>
        <th>Đọc</th>
      </tr>
      <tr>
        <td>QL Nhân viên</td>
        <td><input type="checkbox" name="permission" value="addStaff"></td>
        <td><input type="checkbox" name="permission" value="deleteStaff"></td>
        <td><input type="checkbox" name="permission" value="editStaff"></td>
        <td><input type="checkbox" name="permission" value="readStaff"></td>
      </tr>
      <tr>
        <td>QL Khách</td>
        <td><input type="checkbox" name="permission" value="addUser"></td>
        <td><input type="checkbox" name="permission" value="deleteUser"></td>
        <td><input type="checkbox" name="permission" value="editUser"></td>
        <td><input type="checkbox" name="permission" value="readUser"></td>
      </tr>
      <tr>
        <td>QL Hợp đồng</td>
        <td><input type="checkbox" name="permission" value="addContract"></td>
        <td><input type="checkbox" name="permission" value="deleteContract"></td>
        <td><input type="checkbox" name="permission" value="editContract"></td>
        <td><input type="checkbox" name="permission" value="readContract"></td>
      </tr>
      <tr>
        <td>QL Bảo hiểm</td>
        <td><input type="checkbox" name="permission" value="addInsurance"></td>
        <td><input type="checkbox" name="permission" value="deleteInsurance"></td>
        <td><input type="checkbox" name="permission" value="editInsurance"></td>
        <td><input type="checkbox" name="permission" value="readInsurance"></td>
      </tr>
      <tr>
        <td>QL Bài đăng</td>
        <td><input type="checkbox" name="permission" value="addPost"></td>
        <td><input type="checkbox" name="permission" value="deletePost"></td>
        <td><input type="checkbox" name="permission" value="editPost"></td>
        <td><input type="checkbox" name="permission" value="readPost"></td>
      </tr>
      <tr>
        <td>QL Lịch thanh toán</td>
        <td><input type="checkbox" name="permission" value="addPayment"></td>
        <td><input type="checkbox" name="permission" value="deletePayment"></td>
        <td><input type="checkbox" name="permission" value="editPayment"></td>
        <td><input type="checkbox" name="permission" value="readPayment"></td>
      </tr>
      <tr>
        <td>QL Chi trả bảo hiểm</td>
        <td><input type="checkbox" name="permission" value="addBenefit"></td>
        <td><input type="checkbox" name="permission" value="deleteBenefit"></td>
        <td><input type="checkbox" name="permission" value="editBenefit"></td>
        <td><input type="checkbox" name="permission" value="readBenefit"></td>
      </tr>
      <tr>
        <td>Báo cáo, thống kê</td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="checkbox" name="permission" value="readReport"></td>
      </tr>
    </table>
    <div class="form-group">
      <button type="submit">Lưu</button>
    </div>
  </form>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    const passwordField = document.getElementById('password');
    const rpPasswordField = document.getElementById('rpPassword');
    const form = document.getElementById('your-form-id'); // Thay 'your-form-id' bằng ID của form
    rpPasswordField.addEventListener('input', function () {
      const passwordValue = passwordField.value;
      const rpPasswordValue = rpPasswordField.value;
      const errorMessage = document.getElementById('error-message');

      if (passwordValue !== rpPasswordValue) {
        errorMessage.innerText = "Mật khẩu không trùng khớp.";
      } else {
        errorMessage.innerText = "";
      }
    });
    form.addEventListener('submit', function (event) {
      const passwordValue = passwordField.value;
      const rpPasswordValue = rpPasswordField.value;

      if (passwordValue !== rpPasswordValue) {

        event.preventDefault(); // Ngăn chặn việc submit
      }
    });
  </script>


</body>

</html>