<nav class="navbar bg-primary fixed-top"> <!-- Thay đổi lớp CSS thành bg-primary -->
  <div class="container-fluid">
    <span class="navbar-brand me-auto text-light"> <!-- Thay đổi lớp CSS thành text-light -->
      <h1>
        LIFE 
      </h1>
    
    </span>
    <span class="navbar-text text-light">Xin chào, <%= name %></span> <!-- Thay đổi lớp CSS thành text-light -->
    <a class="btn btn-link text-light" href="/account/logout"> <!-- Thay đổi lớp CSS thành text-light -->
      <!-- Biểu tượng logout -->
      <svg xmlns="http://www.w3.org/2000/svg" width="22.4" height="22.4" fill="currentColor" class="bi bi-box-arrow-right bi-1.4x" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg>
      
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Danh mục</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/staff/home">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/staff/listStaff">Quản lý nhân viên</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/listUser">Danh sách khách hàng</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quản lý bảo hiểm
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/insurance/listInsurance">Danh sách bảo hiểm</a></li>
              <li><a class="dropdown-item" href="/insurance/listInsuranceType">Danh sách loại bảo hiểm</a></li>
              <li><a class="dropdown-item" href="/insurance/catalog">Danh mục bảo hiểm</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quản lý hợp đồng
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/contract/listContract">Danh sách hợp đồng</a></li>
              <li><a class="dropdown-item" href="/contract/listPayment">Lịch thanh toán cho khách</a></li>
              <li><a class="dropdown-item" href="/contract/listBenefit">Chi phí đã trả cho khách</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quản lý bài đăng
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/post/listContract">Danh sách bài đăng</a></li>
              <li><a class="dropdown-item" href="/post/listPostType">Danh mục bài đăng</a></li>
            
            </ul>
          </li>

        </ul>
        
      </div>
    </div>
  </div>
</nav>